<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
  </head>
  <body>
    <div id="Offers">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="300" id="FacebookAD">
            <label class="form-check-label" for="FacebookAD">
              Facebook Ads
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="20" id="Google">
            <label class="form-check-label" for="Google">
                Google Ads
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="30" id="SEO">
            <label class="form-check-label" for="SEO">
              SEO
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="40" id="YoutubeAD">
            <label class="form-check-label" for="YoutubeAD">
            Youtube Ads
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="40" id="instagram">
            <label class="form-check-label" for="instagram">
            instagram Ads
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="40" id="Social_Media_Managment">
            <label class="form-check-label" for="Social_Media_Managment">
            Social Media Managment
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="40" id="Website">
            <label class="form-check-label" for="Website">
              Website
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="40" id="Online_Store">
            <label class="form-check-label" for="Online_Store">
            Online Store 
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="40" id="E_mail_Markting">
            <label class="form-check-label" for="E_mail_Markting">
            E-mail Markting
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="40" id="Markting_Consulting">
            <label class="form-check-label" for="Markting_Consulting">
            Markting Consulting
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="40" id="Bussiness_Development">
            <label class="form-check-label" for="Bussiness_Development">
            Bussiness Development Con
            </label>
          </div>
         <form class="form">
            <h2>Total : <div id="totalP"></div></h2>
            <p>Packages :<div id="selected"></div></p>
            <button>submit</button>
         </form>
         <span id='data' style="color: indigo;"> </span
    </div>
   <!--  <script src="js/playGround.js"></script>
    <script src="js/fetch.js"></script> -->
  </body>
</html>